<html>
    <head>
        <title>Create Arctile</title>
    </head>
    <body>
        <h1>New Article</h1>
        <div>Title:
            <input type="text" id="title"/>
        </div> <br>
        <div>Content:
            <textarea id="content"></textarea>
        </div> <br>
        <button id="submit">Submit</button>
        
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
            var article = {title: "", content: ""};
            $("#title").change(function(){
                article.title = $("#title").val();
            });
            
            $("#content").change(function(){
                article.content = $("#content").val();
            });
            
            $("#submit").click(function(){
                console.log(article);
                $.ajax({
                    method: "POST",
                    url: "/api/articles",
                    data: article
                }).done(function(response){
                    console.log(response);
                });
            });
        </script>
    </body>
</html>