<html>
    <head>
        <title>All Products</title>
    </head>
    <body>
        <h1>Product List</h1>
        <% console.log(products) %>
          <% for(var i=0; i<products.length; i++) { %>
          <h1> <a href="/products/<%=products[i]._id %>">
            <%= products[i].name %> </a> </h1>
            
            <% } %>
    </body>
</html>