<html>
    <head>
        <title>Create Arctile</title>
    </head>
    <body>
        <h1>New Product</h1>
        <div>Name:
            <input type="text" id="name"/>
        </div> <br>
        <div>Description:
            <textarea id="description"></textarea>
        </div> <br>
        <div>Price:
            <input type="number" id="price"/>
        </div> <br>
        <div>Quantity:
            <input type="number" id="quantity"/>
        </div> <br>
        
        <div id="error"></div>
        
        <button id="submit">Submit</button>
        
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
            var product = {title: "", content: ""};
            $("#name").change(function(){
                product.name = $("#name").val();
            });
            
            $("#description").change(function(){
                product.description = $("#description").val();
            });
            
            $("#price").change(function(){
                product.price = undefined;
                //product.price = $("#price").val();
            });
            
            $("#quantity").change(function(){
                product.quantity = $("#quantity").val();
            });
            
            
            
            $("#submit").click(function(){
                console.log(product);
                $.ajax({
                    method: "POST",
                    url: "/api/products",
                    data: product
                }).done(function(response){
                    console.log(response);
                    window.location.replace("/products/"+response._id);
                }).fail(function(response){
                    $("#error").text(JSON.parse(response.responseText).message);
                    console.log(JSON.parse(response.responseText).message); 
                });
            });
        </script>
    </body>
</html>