<html>
    <head>
        <title>Arctile</title>
    </head>
    <body>
        <h1>Product</h1>
        <% console.log(request.product) %>
        <h2> Name: <%= request.product.name %></h2>
        <p> <%= request.product.description %> </p>
    </body>
</html>